body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

#splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s forwards;
}

#main {
  padding: 20px;
}

.hidden {
  display: none;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 80%;
}

button {
  background: #1a237e;
  color: white;
  border: none;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
